.cutshop-info-foot{
    >a{
        display: block;
        background: #ba2832;
        // padding: rem(5) 0;
        text-align: center;
        color: #fff;
        font-size: rem(32);
        line-height: rem(100);
    }
}