.shop-head{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: rem(20) 0;
    font-size: rem(35);
    border-bottom: 1px solid #ddd;
    .compile{
        
    }
    .head-title{

    }
    .head-right-icon{

    }
}