.user-order{
    margin-top: rem(20);
    background: #fff;

    .order-title{
        padding: rem(20);
        font-size: rem(30);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title-main{
            .iconfont{
                display: inline-block;
                margin-bottom: -rem(20);
                color: #d3bf80;
                font-size: rem(40)
            }
        }
        .title-sub-icon{
            .iconfont{
                font-size: rem(30);
            }
        }
    }
    .order-main{
        padding:rem(35)  0;
        ul{
            color: #545454;
            text-align: center;
            font-size: rem(30);
            display: flex;
            justify-content: space-around;
            line-height: rem(60);
            li{
                .icon-walllet,.icon-daipingjia{
                    font-size: rem(50);
                }
                .icon-daishouhuo,.icon-daifahuo{
                    font-size: rem(60);
                }
            }
        }
    }
    
}