.shop-main{
    margin-top: rem(20);
    background: #fff;
    ul{
        color: #a3a3a3;
        font-size: rem(35);
        display: flex;
        li{
            flex: 0 0 50%;
            text-align: center;
            padding: rem(30) 0;
        }
    }
    .shop-introduce{
        font-size: rem(35);
        padding: rem(10);
        /* 我也不想用Important啊 ┓( ´∀` )┏；可是... */
        ul{
            display: flex;
            flex-wrap: wrap!important;
            text-align: center;
            li{
                flex: 0 0 100%;
            }
        }
        // img{
        //     font-size: 0;
        // }
        p{
            width: 100%;
            img{
                display: block;
                font-size: 0;
                width: 100%!important;
            }
        }
        
    }
    
    .shop-evaluate{
        >.item{
            padding: rem(30) rem(20);
            display: flex;
            .img-box{
                width: rem(90);
                height: rem(160);
                img{
                   width: 100%;
                   height: 100%;
                }
            }
            .text-box{
                margin-left: rem(20);
                .username{
                    color: #222222;
                    font-size: rem(35);
                    .good{
                        margin-left: rem(30);
                        padding: rem(3) rem(10);
                        font-size: rem(22);
                        border-radius: rem(8);
                        background: #bc2635;
                        color: #ffffff;
                    }
                }
                .evaluate{
                    font-size: rem(33);
                    margin: rem(28) 0;
                }
                .time{
                    font-size: rem(26);
                    color: #969696;
                }
            }
        }
        .valuate-null{
            color: #ccc;
            text-align: center;
            font-size: rem(40);
            padding: rem(80) 0;
        }
    }
    .active{
        color: #982740;
        border-bottom: #982740 solid 1px;
    }
    .shop-info-transpond{
        position: fixed;
        bottom: rem(230);
        right: rem(66);
        border-radius: 50%;
        padding: rem(6);
        background: #fff;
        box-shadow: 3px 3px 3px #ccc;
        img{
            width: rem(60);
            height: rem(60);
        }
    }
}
